.image-logo__svg:active path.image-logo__letter {
  fill: #283645;
  opacity: 0.3;
}

.image-logo__svg:active path.image-logo__glasses-mobile {
  opacity: 0.3;
}

.image-logo__svg:active path.image-logo__glasses {
  opacity: 0.3;
}

.image-logo__svg:active path.image-logo__stars {
  fill: #283645;
  opacity: 0.3;
}

.image-logo__svg:active path.image-logo__i-star {
  opacity: 0.3;
}

.image-logo__svg:hover path {
  fill: $color-hover;
}